# Video Games Sales with Ratings
## Joshua Greenert
## DSC550-T301 Data Mining
## 8/30/2022

In [65]:
# Import the required libraries.
import numpy as np
import pandas as pd

In [66]:
# Read the data into a pandas dataframe.
df_games = pd.read_csv('Video_Games_Sales.csv')

# Display the first ten rows of data.
df_games.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
# Find the dimensions (rows and columns)
df_games.shape

(16719, 16)

## The rows and columns displayed above tell us the limits of our dataset.

In [68]:
# Find the top five games by critic score.
df_games[['Name', 'Critic_Score']].sort_values(by = 'Critic_Score', axis = 0, ascending = False).head(5)

                          Name  Critic_Score
227   Tony Hawk's Pro Skater 2          98.0
57         Grand Theft Auto IV          98.0
51         Grand Theft Auto IV          98.0
5350               SoulCalibur          98.0
165         Grand Theft Auto V          97.0

In [69]:
# Find the number of video games in the dataframe by genre
df_games[['Name', 'Genre']].groupby('Genre').count().sort_values(by = 'Genre', axis = 0, ascending = False)

              Name
Genre
Strategy       683
Sports        2348
Simulation     874
Shooter       1323
Role-Playing  1500
Racing        1249
Puzzle         580
Platform       888
Misc          1750
Fighting       849
Adventure     1303
Action        3370

In [70]:
# Find the first five games on the SNES platform.
df_games[df_games['Platform'] =='SNES'].sort_values('Year_of_Release', ascending = True).head(5)
#df_games[['Name', 'Platform', 'Year_of_Release']].sort_values(['Platform', 'Year_of_Release'], ascending=[True, False]).head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
18,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,NaN,NaN,NaN,NaN,NaN,NaN
1195,Final Fight,SNES,1990.0,Action,Capcom,0.67,0.17,0.69,0.03,1.56,NaN,NaN,NaN,NaN,NaN,NaN
511,F-Zero,SNES,1990.0,Racing,Nintendo,1.37,0.51,0.89,0.07,2.85,NaN,NaN,NaN,NaN,NaN,NaN
1791,Pilotwings,SNES,1990.0,Simulation,Nintendo,0.46,0.17,0.48,0.02,1.14,NaN,NaN,NaN,NaN,NaN,NaN
1111,Super Scope 6,SNES,1991.0,Shooter,Nintendo,1.06,0.38,0.15,0.05,1.65,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
# Find the five publishers with the highest total sales (calculate the total global sales for each publisher).
df_games[['Publisher', 'Global_Sales']].groupby('Publisher').sum().sort_values('Global_Sales', ascending = False).head(5)

                             Global_Sales
Publisher
Nintendo                          1788.81
Electronic Arts                   1116.96
Activision                         731.16
Sony Computer Entertainment        606.48
Ubisoft                            471.61

In [72]:
# Create a new column in the data frame that calculates the percentage of global sales from North America.
# Display the first five rows of the new data frame.
NA_Percent_Column = []
for i in range(len(df_games)):
    NA_Percent = round((df_games['NA_Sales'][i] / df_games['Global_Sales'][i]) * 100, 2)
    NA_Percent_Column.append(NA_Percent)

df_games['NA_Percent'] = NA_Percent_Column
df_games.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,NA_Percent
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,50.12
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,72.27
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.14
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,47.64
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,35.93

In [73]:
# Find the number NaN entries (missing data values) in each column.
df_games[df_games.columns[df_games.isnull().any()]].isnull().sum()

Name                  2
Year_of_Release     269
Genre                 2
Publisher            54
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [75]:
# Calculate the median score of all video games.  Some user score entries are non-numerical that cannot be converted to float. 
# Find and replace this string with NaN and then colculate the median.  Then, replace all NaN entries with the median value.
Median_Score = 0
median_count = 0

# Loop the range of values to get the median score.
for i in range(len(df_games)):
    # check if num == num for NaN and if tbd is listed.
    if(df_games['User_Score'][i] != df_games['User_Score'][i] or df_games['User_Score'][i] == 'tbd'):
        continue
    else:
        Median_Score = float(df_games['User_Score'][i]) + Median_Score
        median_count += 1
Median_Score = round(Median_Score / median_count, 2)

# Use the same loop as before to update all non-numeric items to the median score.
for i in range(len(df_games)):
    # check if num == num for NaN and if tbd is listed.
    if(df_games['User_Score'][i] != df_games['User_Score'][i]):
        df_games['User_Score'] = Median_Score
        
df_games.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,NA_Percent
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,50.12
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,7.13,NaN,NaN,NaN,72.27
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.14
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,47.64
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,7.13,NaN,NaN,NaN,35.93
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,7.13,NaN,NaN,NaN,76.67
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E,37.85
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E,48.27
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E,50.99
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,7.13,NaN,NaN,NaN,95.13