# Data Preparation Week 7 and 8
## Joshua Greenert
## DSC540-T301 Data Preparation
## 10/21/2022

In [70]:
# Perform at least 5 data transformations.
import pandas as pd
from urllib.request import urlopen
import json

# Get the content from the page
# Found that the website being used was using a JavaScript function to pull data from a json api.  Found the 
# json api calls inside of the networking tab and called them here instead of the webiste url.
# https://netimpactreport.com/datasets/largest-500
response = urlopen("https://netimpactreport.com/data/generated/FortuneGlobal500NIR.json")
data_json = json.loads(response.read())

# There are 500 companies included in the json.  Loop through those to set the values in the dataframe.
df_companies = pd.DataFrame(columns=['Rank', 'Company', 'Country', 'Revenue (M$)', 
                                    'Net Impact Ratio', 'Largest Benefit', 'Largest Cost', 'Society', 'Knowledge', 'Health', 'Environment'])
# Collect the data and store them into the dataframe.
for i in range(500): 

    rank = data_json["items"][i]["rank"]
    company = data_json["items"][i]["name"]
    country = data_json["items"][i]["country"]
    revenue = data_json["items"][i]["revenueUSD"]
    net_impact = data_json["items"][i]["netImpactRatio"]
    benefit = data_json["items"][i]["biggestImpacts"]["P"]["impactCategoryTitle"]
    cost = data_json["items"][i]["biggestImpacts"]["N"]["impactCategoryTitle"]
    society = data_json["items"][i]["dimensionTotals"]['S']
    knowledge = data_json["items"][i]["dimensionTotals"]['K']
    health = data_json["items"][i]["dimensionTotals"]['H']
    environment = data_json["items"][i]["dimensionTotals"]['E']

    new_row = {'Rank': rank,  'Company': company, 'Country': country, 
                     'Revenue (M$)': revenue, 'Net Impact Ratio': net_impact, 'Largest Benefit': benefit, 
                   'Largest Cost': cost, 'Society': society, 'Knowledge': knowledge, 'Health': health, 'Environment': environment}

    df_companies.loc[len(df_companies.index)] = new_row
            
# Show the new dataframe.
df_companies.head(5)

,Rank,Company,Country,Revenue (M$),Net Impact Ratio,Largest Benefit,Largest Cost,Society,Knowledge,Health,Environment
0,1,Thermo Fisher Scientific,United States of America,2.554200e+10,0.742370,Diseases,Scarce human capital,2.087694,1.442365,4.159877,-0.493861
1,2,Abbott Laboratories,United States of America,3.190400e+10,0.719987,Diseases,Scarce human capital,2.147632,-0.355803,5.576975,-0.446213
2,3,Veolia Environnement,France,3.043100e+10,0.698317,Waste,GHG emissions,3.457366,-0.077464,0.297366,2.817365
3,4,Medtronic,Ireland,3.055700e+10,0.686935,Diseases,Scarce human capital,2.356223,-1.661113,4.858200,-0.230345
4,5,Iberdrola,Spain,4.078300e+10,0.682440,Societal infrastructure,Scarce human capital,6.618977,0.234801,0.427617,1.618268

In [ ]:
# Convert revenue columns to readable numbers by removing trailing zeros
for i, row in df_companies.iterrows():
    ###############  TODO #######################

In [74]:
# Fix percentages for data in net impact ratio
df_companies['Net Impact Ratio'] = df_companies['Net Impact Ratio'].round(decimals = 2)

In [72]:
# Reduce the S, K, H, and E values to rounded values.
df_companies['Society'] = df_companies['Society'].round(decimals = 2)
df_companies['Knowledge'] = df_companies['Knowledge'].round(decimals = 2)
df_companies['Health'] = df_companies['Health'].round(decimals = 2)
df_companies['Environment'] = df_companies['Environment'].round(decimals = 2)

In [73]:
# Convert all company names to lowercase.
df_companies['Company'] = df_companies['Company'].str.lower()

In [76]:
# Convert all categorical variables to lowercase as well to produce similar dummies in the future.
df_companies['Country'] = df_companies['Country'].str.lower()
df_companies['Largest Benefit'] = df_companies['Largest Benefit'].str.lower()
df_companies['Largest Cost'] = df_companies['Largest Cost'].str.lower()